/* *{
  z-index: 2;
}

.moon {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: translate(20%, 20%);
  }
  
  .colourmode:hover .moon {
    transform: translate(22%, 22%);
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }

  .colourmode {
    position: absolute;
    border-radius: 11px;
    background: #63a0fb;
    top: 33%;
    left: 24%;
    width: 30px;
    height: 30px;
  }
  
  .colourmode:hover {
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 30%;
    left: 23.9%;
    transition: 0.2s;
  }
   */